.vblock {
    float: left;

    .row {}

    &.expanded {
        .vblock-row {
            > div { float: left; }
        }

        .metadata-track {
            padding-left: 5px;

            .metadata-entry {
                float: none;
            }
        }

        .caption-track {
            .caption-canvas {
                font-size: 13px;
                line-height: 1.2em;
            }

            .caption-group {
                margin-bottom: 5px;
            }
        }
    }
}

.metadata-track {
    .metadata-key { font-weight: bold; }

    .metadata-entry {
        float: left;
        margin-right: 5px;
    }
}

.video-track {
    position: relative;

    .track-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }

    .loading-video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }
}

.spatial-overlay {}

.bounding-box {
    position: absolute;
}

.timeline-track {
    .timeline-box {
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        float: left;
        user-select: none;

        .timeline-cursor {
            background: #84db57;
            position: absolute;
            top: 0;
            z-index: 1000;
        }
    }

    .timeline-controls {
        float: left;
    }

    .timeline-ticks {
        user-select: none;
    }
}

.caption-track {
    border: 1px solid black;

    .caption-window {
        position: relative;
        overflow: hidden;

    }

    .caption-canvas {
        position: absolute;
        left: 0;

        font-size: 9px;
        line-height: 1em;

        .caption {
            &.active {
                -webkit-text-stroke: 1px black;
                text-decoration: underline;
            }

            &.flag {
                background: red;
                color: white;
            }
        }

    }

    .caption-group {
        margin-bottom: 2px;
    }
}