.vblock {
    float: left;

    .row {}

    &.expanded {
        .row {
            > div { float: left; }
        }

        .metadata-track {
            padding-left: 5px;

            .metadata-entry {
                float: none;
            }
        }

    }
}

.metadata-track {
    .metadata-key { font-weight: bold; }

    .metadata-entry {
        float: left;
        margin-right: 5px;
    }
}

.video-track {
    position: relative;

    .track-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.spatial-overlay {}

.bounding-box {
    position: absolute;
}

.timeline-track {
    .timeline-box {
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        float: left;
        user-select: none;

        .timeline-row-wrapper {
            position: absolute;
            left: 0;

            .timeline-interval-wrapper {
                position: absolute;
            }
        }

        .timeline-cursor {
            background: #84db57;
            position: absolute;
            top: 0;
            z-index: 1000;
        }
    }

    .timeline-controls {
        float: left;
    }

    .timeline-ticks {
        user-select: none;
    }
}