.vgrid {
    @import '~open-iconic/font/css/open-iconic-bootstrap.css';
    @import './video-track.scss';
    @import './spinner.scss';

    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 20px;
    max-width: 100%;

    .spinner {
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn-group .btn { margin-left: 0px; }

    .clearfix {
        clear: both;
    }

    ul {
      padding: 0px;
    }

    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
}
