.vgrid {
    @import '~open-iconic/font/css/open-iconic-bootstrap.css';
    @import './video-track.scss';
    @import './spinner.scss';

    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 20px;
    max-width: 100%;

    .spinner {
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn-group .btn { margin-left: 0px; }

    .clearfix {
        clear: both;
    }

    ul {
      padding: 0px;
    }
}
