.page-buttons {
    margin-top: 10px;

    .page-count {
        position: relative;
        left: 12px;
    }

    input {
        display: inline-block;
        width: 40px;
        margin-left: 13px;
    }
}

.vblock {
    float: left;
    margin: 5px;

    .row {}

    .vblock-highlight {
        padding: 5px;

        &.select-positive {
            background-color: #60F14B;
        }

        &.select-negative {
            background-color: #FC6B81;
        }

        .vblock-triangle {
            width: 0;
            height: 0;
            background-color: transparent;
            border-style: solid;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: black;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            padding-bottom: 0;
            border-top-width: 0;
            top: auto;
        }
    }

    &.expanded {

        width: 100%;

        /* .vblock-highlight { */
        /*     padding: 5px; */
        /* } */

        .video-track {
            float: left;
        }

        .metadata-track {
            float: left;
            padding-left: 5px;

            .metadata-entry {
                float: none;
            }
        }

        .caption-track {
            .caption-canvas {
                font-size: 13px;
                line-height: 1.2em;
            }

            .caption-group {
                margin-bottom: 5px;
            }
        }
    }
}

.metadata-track {
    background: white;

    .metadata-entry {
        margin-right: 5px;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: break-word;
    }

    .metadata-key {
        font-weight: bold;
    }

    .metadata-value {
        white-space: normal;
    }
}

.video-track {
    position: relative;
    background: white;

    .track-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }

    .loading-video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    /* Make the video controls on Chrome always show over the spatial overlay */
    video::-webkit-media-controls-panel {
        position: relative;
        z-index: 1001;
        opacity: 1;
    }
}

.spatial-overlay {
    z-index: 1;

    .spatial-intervals {
        position: absolute;

    }

    .spatial-labeler {
        position: absolute;
        top: 0;
        left: 0;
    }

    .bbox-draw {
        position: absolute;
    }
}


.timeline-track {
    background: white;

    .timeline-box {
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        float: left;
        user-select: none;

        .timeline-cursor {
            background: #84db57;
            position: absolute;
            top: 0;
            z-index: 1000;
        }

        .timeline-window {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .timeline-svg {
            position: absolute;
            top: 0;
        }
    }

    .timeline-controls {
        float: left;
    }

    .timeline-ticks {
        user-select: none;
    }

    .timeline-navigator {
        position: relative;


        .timeline-navigator-slider {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .timeline-navigator-canvas {
            display: block;
            position: absolute;
            top:0;
            left:0;
        }
    }

    .timeline-overview-canvas {
        display: block;
    }


}

.caption-track {
    border: 1px solid black;
    background: white;

    .caption-window {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .caption-canvas {
        position: absolute;
        left: 0;

        font-size: 12px;
        line-height: 1em;

        .active {
            -webkit-text-stroke: 1px black;
            text-decoration: underline;
        }

        .flag {
            background: red;
            color: white;
        }
    }

    .caption-group {
        margin-bottom: 2px;
        word-break: break-all;
    }
}

.vblock-close-expand {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-left: 10px;
    font-size: 16;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: red;
}
